.counter {
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}
.green {
  color: green;
}
.counter-button-container {
  display: flex;
  align-items: center;
}
.counter-button {
  margin: 3px;
}
.plus {
  color: green;
}
.minus {
  color: red;
}
